/Test/nbproject/private/
/Test/build/
/jgrep/nbproject/private/
/jgrep/build/
/jrpn/nbproject/private/
/jrpn/build/
/keyvalue/nbproject/private/
/keyvalue/build/
/jxref/nbproject/private/
/jxref/build/